.select{
    float: left;
    background: linear-gradient(rgb(176, 250, 174), rgb(144, 207, 186));
    width: 100%;
    height: 12rem;
    text-align: center;
}
.select_info{
    float: left;
    margin: 0.5rem auto auto 1.6rem;
    width: 90%;
    height: 85%;
    background-color: white;
}
.select_nav{
    float: left;
    margin:0.5rem auto auto 0.5rem;
    font-size: 0.3rem;
}
.select_nav>a{
    color: #777;
    margin-right: 0.3rem;
    margin-left: 0.3rem;
}
#info_img{
    margin-left: 0.8rem; 
    float: left;
    width: 12rem;
    height: 7.6rem;
}
.select_tt{
    float: left;
    font-size: 0.5rem;
    margin-left: 0.6rem;
}
.select_tt_fu{
    text-align: left;
    width: 45%;
    float: left;
    font-size: 0.3rem;
    color: #777;
    margin-left: 0.65rem;
}
.select_tt_href{
    width: 45%;
    text-align: left;
    float: left;
    font-size: 0.3rem;
    margin-left: 0.65rem;
}
.select_tt_href>a{
    color: chocolate;
}
.select_tt_href>a:hover{
    text-decoration: underline;
}
.select_money{
    width: 20%;
    text-align: left;
    margin: 1rem auto auto 0.5rem;
    float: left;
    font-size: 0.4rem;
    padding-left: 0.7rem;
    color: chocolate;
}
#str{
    font-size: 0.7rem;
}
#hen{
    color: rgb(172, 172, 172);
    text-decoration: line-through;
}
#zhe{
    font-size: 0.35rem;
    margin-left: 0.2rem; 
    border: 0.01rem solid chocolate; 
}
.select_time{
    width: 20%;
    float: right;
    font-size: 0.4rem;
    padding-left: 3rem;
    margin: 1rem 0.5rem auto auto;
    color: rgb(67, 185, 37);
}
.select_time>p{
    color: rgb(109, 109, 109);
    margin-top: 0.1rem;
    font-size: 0.3rem;
}

.gift,.class{
    float: left;
    width: 50%;
    height: auto;
    position: absolute;
}
.gift{
    top:5.6rem;
    left:14.2rem;
}
.class{
    top:6.8rem;
    left:14.2rem;
}
.select_gift_tt,.select_class_tt{
    color: #777;
    line-height: 0.7rem;
    margin-top:0.5rem;
    margin-left: 0.7rem;
    text-align: left;
    font-size: 0.3rem;
    width: 13%;
    float: left;
}
.gift_four,.class_two{
    margin-top: 0.45rem;
    float: left;
    width: 68%;
    height: auto;
    color: rgb(167, 167, 167);
    position: relative;
}
.class_two{
    color: rgb(88, 88, 88);
}
.gift_four>div,.class_two>div{
    line-height: 0.7rem;
    float: left;
    font-size: 0.3rem;
    width: 96%;
    text-align: left;
    padding:0 0.2rem; 
}
.gift_four>div>label,.class_two>div>label{
    margin-right: 0.5rem;
    float: right;
}
.gift_four>div>label>span{
    color: chocolate;
}
.class_two>div>label{
    color: chocolate;
}
.gift_hide,.class_hide{
    display: none;
}
.class_show{
    border: 0.01rem solid chocolate;
}
.select_btn{
    padding-top:0.5rem;
    padding-left:2rem; 
    text-align: left;
    float: left;
    width: 40%;
    height: 2.6rem;
    position: absolute;
    top:8.1rem;
    left:13.3rem;
}
.select_btn>input{
    font-size: 0.4rem;
    margin-right: 1rem;
    height: 55%;
    outline: none;
    border-radius: 0.1rem;
}
#buy{
    width: 35%;
    border: 0;
    color: white;
    background-color: chocolate;
}
#query{
    width: 28%;
    border: 0.02rem solid chocolate;
    border-radius: 0.1rem;
    background-color: white;
    color: chocolate; 
}
.select_bottom,.select_bottom_r{
    text-align: left;
    width: 36.6%;
    height: auto;
    float: left;
    font-size: 0.3rem;
    color: #777;
    position: absolute;
    
}
.select_bottom{
    top:10.6rem;
    left:2.4rem;
}
.select_bottom>a{
    color: #777;
}
.bottom_r,.select_bottom_r>label{
    margin-right:0.35rem;
    margin-left:0.1rem;  
    line-height: 0.4rem;
}
.bottom_r{
    float: right;
}
.select_bottom>a>img,.select_bottom>img{
    float: right;
    width:0.35rem;
    height: 0.35rem;
}
.select_bottom_r{
    top:10.7rem;
    left:15.7rem;
}
.select_bottom_r>label{
    float: left;
    margin-right: 1.5rem;
}
.select_bottom_r>img{
    float: left;
    width:0.35rem;
    height: 0.35rem;
}
#share{
    background-color: white;
    width:3.9rem;
    height: 1.5rem;
    position: absolute;
    top: 0.4rem;
    left: 6rem;
    display: none;
}
#share>img{
    margin:0.4rem auto auto 0.15rem;
    width: 1rem;
    height: 1rem;
}
#baojia{
    width: 4.5rem;
    height: 1.9rem;
    padding: 0.15rem;
    background-color: white;
    position: absolute;
    top:-2.5rem;
    left:-1.5rem;
    display: none;
}
#yanqi{
    width: 4.5rem;
    height: 0.5rem;
    padding: 0.15rem;
    background-color: white;
    position: absolute;
    top:-1.3rem;
    left:2rem;
    display: none;
}
.info_nav{
    float: left;
    width: 100%;
    height: 1.3rem;
    /* background-color: blue; */
}
.info_nav>ul{
    margin-left: 5%;
    float: left;
    width: 95%;
    height: 100%;
    display: flex;
}
.info_nav>ul>a{
    width: 17%;
}
.info_nav>ul>a>li{
    font-size: 0.5rem;
    text-align: center;
    line-height: 100%;
    padding-top:0.35rem;
    float: left;
    height: 74%;
    width: 100%;
}

#nav1{
    color: white;
    background-color: #2aa515;
}



.info_box{
    float: left;
    margin: 0.7rem 5%;
    width: 90%;
    height: auto;
    /* background-color: brown; */
}
.info_box_l{
    float: left;
    width: 20rem;
    height: auto;
    /* background-color: burlywood; */
}

#info{
    float: left;
    width: 20rem;
    height: auto;
}
#info>img{
    float: left;
    width:100%;
    height: auto;
    margin-bottom: 0.6rem;
}
#info_tt,#tt_fir,#price_tt{
    font-size: 0.5rem;
}
#tt_fir{
    margin-bottom: 0.4rem;
}
#info>ul,#note{

    font-size: 0.35rem;
    color: rgb(117, 117, 117);
}
#info>ul>li{
    line-height: 0.7rem;
    /* list-style:decimal; */
}
#note{
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}
#price>p{
    font-size: 0.3rem;
    color: darkgray;
    margin:0.25rem 0; 
}

#outline{
    float: left;
    width: 20rem;
    height: auto;
}
#out_tt{
    float: left;
    width: 65%;
    height: 3rem;
    padding-left: 35%;
}
#out_tt>div{
    margin-top:1.4rem;
    text-align: center;
    line-height: 1rem;
    float: left;
    font-size: 0.4rem;
    width: 3rem;
    height: 1rem;
}
#all{
    border-top-left-radius:0.1rem;
    border-bottom-left-radius:0.1rem;
    color: white;
    background-color: rgb(19, 175, 19);
}
#free{
    border-top-right-radius:0.1rem;
    border-bottom-right-radius:0.1rem;
    color: rgb(19, 175, 19);
    background-color: white;
}
.hi img{
    width: 2.4rem;
}
#unit{
    width: 100%;
    float: left;
    line-height: 0.7rem;
}
#unit>li{
    float: left;
    width: 100%;
    height: auto;
}
#unit>li>hr{
    width: 100%;
    height: 0.03rem;
    border: 0;
    background-color: #c2c2c2;
}
#unit>li>div{
    height: 0.85rem;
    line-height: 0.85rem;
    font-weight: 700;
    font-size: 0.4rem;
    vertical-align:middle;
}
#unit>li>div>span{
    text-align: center;
    border-radius: 0.5rem;
    display: inline-block;
    width: 1.7rem;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.3rem;
    font-weight: 700;
    color: white;
    background-color: dimgrey;
}
.unit_div{
    /* float: left; */
    width: 100%;
    height: auto;
    display: none;
}
.unit_select{
    float: left;
    width: 100%;
    height: auto;
    /* float: left; */
    font-size: 0.45rem;
    border-bottom: 0.01rem solid rgb(175, 175, 175); 
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem; 
    /* display: none; */
}
.unit_select>li{
    float: left;
    width: 100%;
    /* list-style: square; */
}
.unit_select>li>a{
    width: 87%;
    float: left;
    margin:0.3% 3% 0.3% 10%;
    height: auto;
    /* line-height: 99.4%; */
}
.free_r{
    font-size: 0.35rem;            
    color: rgb(42, 165, 21);
    border-radius: 0.1rem;
    text-align: center;
    width: 15%;
    border: 0.02rem solid rgb(42, 165, 21);
    float: right;
}
.green{
    height: 100%;
    line-height: 100%;
    font-size: 1rem;
    color: rgb(42, 165, 21);
}

#stu{
    float: left;
    width: 20rem;
    height: auto;
}
#stu_tt{
    float: left;
    width: 100%;
    height: 0.6rem;
    margin: 0.7rem auto;
}
.stu_l{
    float: left;
    width: 0.28rem;
    height: 100%;
    margin-right: 0.5rem;
}
#stu_tt>.stu_tt_l{
    float: left;
    font-size: 0.5rem;
    height: 100%;
    line-height: 100%;
    color: #2aa515;
    vertical-align: bottom;
}
#words_g{
    float: left;
    font-size: 0.3rem;
    color: rgb(182, 182, 182);
}
.star_r{
    float: right;
    width: 0.5rem;
    height: auto;
    margin-left: 0.1rem; 
}
.tt_r{
    padding-top:0.1rem; 
    float: right;
    font-size: 0.3rem;
    color: grey;
}
.sec{
    float: left;
    margin-left: 2%;
    width: 98%;
    height: auto;
    /* background-color: blue; */
    padding: 0.3rem;
}
.sec>li{
    float: left;
    width: 100%;
    /* background-color: #2aa515; */
    padding: 0.3rem 0; 
    border-bottom: 0.02rem solid #eeeeee;
    height: 100%;
}
.stu_info{
    float: left;
    height: 1rem;
    line-height: 1rem;
    font-size: 0.4rem;
}
.tou{
    float: left;
    width: 1rem;
    height: 1rem;
    border-radius: 2rem;
}
.name{
    margin-left: 0.3rem;
}
.time{
    float: right;
    font-size: 0.4rem;
    color: darkgrey;
    height: 1rem;
    line-height: 1rem;
}
.ass{
    margin-top: 0.2rem;
    float: left;
    font-size: 0.4rem;
}
#page{
    /* text-align: center; */
    float: left;
    text-align: center;
    width: 100%;
    height: 3rem;
    /* background-color: burlywood; */
    margin-left:0.3rem;
}
#page_fix{
    margin: 1.5rem 3.5rem;
    width: auto;
    height: auto;
}
.turn,.page_num{
    /* margin: 0 auto; */
    margin-left:0.1rem; 
    border: 0.01rem solid #c4c4c4;
    padding: 0.1rem;
    font-size: 0.45rem;
    float: left;
    background-color: white;
}
.page_num{
    width: 0.5rem;
}
#turn_up,#sec2,#sec3,#sec4,#sec5,#sec6,#sec7,#sec8,#sec9,#sec10{
    display: none;
}
#page1{
    color: white;
    background-color:#2aa515;

}
#outline,#stu{
    display: none;
}
.info_box_l{
    float: left;
}
.news{
    margin-left:0.8rem; 
    float: left;
    width: 8rem;
    height: auto;
}
.news>div{
    width: 90%;
    float: left;
    font-size: 0.6rem;
    padding:0.5rem 0.4rem;
    border-bottom: 0.01rem solid rgb(223, 223, 223);
}
.news>ul>li{
    float: left;
    margin: 0.3rem 0.2rem;
    width: 95%;
    height: auto;
}
.news>ul>li>img{
    float: left;
    width: 3.5rem;
    height: 2em;
}
.news_tt{
    font-size: 0.35rem;
    /* font-weight: 700; */
    width: 3.3rem;
    padding-left: 0.2rem; 
    float: left;
    height: 0.8rem;
    display: -webkit-box;
    overflow: hidden;
}
.news_price{
    margin-top:0.5rem;
    float: left;
    font-size: 0.45rem;
    width: 3.3rem;
    height: 0.8rem;
    color: chocolate;
}
.news_price>span{
    font-size: 0.65rem;
}

.upup{
    position:fixed;
    border: 0.02rem solid #8a8a8a;
    width: 0.7rem;
    height: 0.7rem;
    padding: 0.2rem;
    top:3.5rem;
    left:31rem;
    background-color: white;
    display: none;

}
.upup>img{
    float: left;
    width: 0.7rem;
    height: 0.7rem;
}

.float_nav{
    position:fixed;
    float: left;
    width: 100%;
    height: 1.25rem;
    background-color: white;
    display: none;
    top:-0.1rem;
}
.float_nav>ul{
    margin-left: 5%;
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
}
.float_nav>ul>a{
    width: 30%;
}
.float_nav>ul>a>li{
    font-size: 0.5rem;
    text-align: center;
    line-height: 100%;
    padding-top:0.35rem;
    float: left;
    height: 74%;
    width: 100%;
}
#f_nav1{
    color: white;
    background-color: #2aa515;
}
.float_nav>button{
    border:0;
    border-radius: 0.15rem;
    background-color: chocolate;
    color: white;
    height: 1rem;
    width: 4rem;
    float: right;
    margin-right: 1.5rem;
    margin-top:0.2rem;
    font-size: 0.5rem;
}
.float_nav>span{
    float: right;
    font-size: 0.8rem;
    font-weight: 700;
    color: chocolate;
    margin-right: 0.5rem;
    margin-top:0.3rem;
}